<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
    <link href="../static/images/favicon.ico" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<div th:insert="~{navigate :: nav}"></div>


<!--顶部背景图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/aboutbg.jpg" th:src="@{/images/aboutbg.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title" align="center" style="font-family:'STXingkai'">关于我</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">仁义不施而攻守之势异也</div>
        </div>
    </div>
</div>

<!--个人资料描述-->
<div class="ui container m-opacity box-shadow-max">
    <div class="ui segment m-margin-" align="center">
        <div class="m-margin-top-large" align="center">
            <img class="ui circular image" align="center" src="../static/images/me.jpg" th:src="@{/images/me.jpg}" style="width: 150px;height: 150px;">
        </div>

        <br />
<!--    <div class="m-margin-top-small" style="font-size: x-large;font-family: STSong" align="center">超超越越</div>-->

    <div class="m-margin-top" align="center">
<!--        <a href="#" class="ui tencent circular icon button"><i class="user icon"></i></a>-->
<!--        <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>-->
<!--        <a href="#" class="ui qq circular icon button" data-content="316392836" data-position="bottom center"><i class="qq icon"></i></a>-->
        <a href="https://github.com/IRemember7/" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
        <a href="https://IRemember7.blog.csdn.net/" target="_blank" class="ui csdn circular icon button" data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
        <a href="#" class="ui email circular icon button" data-content="99718253@qq.com" data-position="bottom center"><i class="envelope  icon"></i></a>
    </div>

    <div class="ui tencent-qr flowing popup transition hidden">
        <img src="../static/images/oneStar.jpg" th:src="@{/images/xiaomai1.jpg}" alt="" class="ui rounded image" style="width: 110px">
        <div align="center">小埋</div>
    </div>
    <div class="ui wechat-qr flowing popup transition hidden">
        <img src="../static/images/oneStarWechat.jpg" th:src="@{/images/xiaomai2.jpg}" alt="" class="ui rounded image" style="width: 110px">
        <div align="center">小埋</div>
    </div>
    <div class="ui qq-qr flowing popup transition hidden">
        <img src="../static/images/qq.jpg" th:src="@{/images/xiaomai3.jpg}" alt="" class="ui rounded image" style="width: 110px">
        <div align="center">小埋</div>
    </div>
        <hr class="m-margin-top-small" style="width: 30%">
        <br>
        <div>
            <p>且夫天下非小弱也，雍州之地，崤函之固，自若也。</p>
            <p>陈涉之位，非尊于齐、楚、燕、赵、韩、魏、宋、卫、中山之君也；</p>
            <p>锄櫌棘矜，非铦于钩戟长铩也；</p>
            <p> 谪戍之众，非抗于九国之师也；</p>
            <p>深谋远虑，行军用兵之道，非及向时之士也。</p>
            <p>然而成败异变，功业相反，何也？</p>
            <p>试使山东之国与陈涉度长絜大，比权量力，则不可同年而语矣。</p>
            <p>然秦以区区之地，致万乘之势，序八州而朝同列，百有余年矣；</p>
            <p>然后以六合为家，崤函为宫；</p>
            <p>一夫作难而七庙隳，身死人手，为天下笑者，何也？</p>
            <p>仁义不施而攻守之势异也。</p>
        </div>
        <hr class="m-margin-top-large">
        <br>
<!--        <h2 class="m-margin-tb-tiny" style="font-size: xx-large;font-weight: bold;color: #F08047;font-family: STSong">吉祥物小埋</h2>-->
<!--            <div class="ui orange basic label m-margin-tb-tiny">-->
<!--            <p style="font-size: medium">天边彩虹何其绚烂，走过的季节何其珍贵</p>-->
<!--            </div>-->
        <br/>
        <br/>
<!--            <div class="ui orange basic label">-->
<!--                <div class="ui images" style="font-size: inherit !important;">-->
<!--                    <div class="image">-->
<!--                        <img src="../static/images/zhifupay.jpg" th:src="@{/images/xiaomai3.jpg}" alt="" class="ui rounded bordered image" style="width: 180px">-->
<!--                        <div>小埋</div>-->
<!--                    </div>-->
<!--                    <div class="image">-->
<!--                        <img src="../static/images/wechatpay.jpg" th:src="@{/images/xiaomai4.jpg}" alt="" class="ui rounded bordered image" style="width: 180px">-->
<!--                        <div>小埋</div>-->
<!--                    </div>-->
<!--                    <div class="image">-->
<!--                        <img src="../static/images/wechatpay.jpg" th:src="@{/images/xiaomai5.jpg}" alt="" class="ui rounded bordered image" style="width: 180px">-->
<!--                        <div>小埋</div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--    <div class="hiddenDiv"></div>-->
    </div>
</div>

  <br>
  <br>

  <!--底部栏-->
<div th:insert="~{admin/footer :: foot}"></div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

  <script>
      // $('#newblog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");

      $('#blog-message').load(/*[[@{/footer/blogmessage}]]*/"/footer/blogmessage");


    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    // 显示公众号
    $('.tencent').popup({
        popup : $('.tencent-qr'),
        position: 'bottom center'
    });

    // 显示微信
    $('.wechat').popup({
        popup : $('.wechat-qr'),
        position: 'bottom center'
    });

    // 显示QQ
    $('.qq').popup({
        popup : $('.qq-qr'),
        position: 'bottom center'
    });

    // 显示邮箱
    $('.email').popup();

    // 显示CSDN
    $('.csdn').popup();

      // 显示github
      $('.github').popup();




    // 运行时间统计
    function secondToDate(second) {
        if (!second) {
            return 0;
        }
        var time = new Array(0, 0, 0, 0, 0);
        if (second >= 365 * 24 * 3600) {
            time[0] = parseInt(second / (365 * 24 * 3600));
            second %= 365 * 24 * 3600;
        }
        if (second >= 24 * 3600) {
            time[1] = parseInt(second / (24 * 3600));
            second %= 24 * 3600;
        }
        if (second >= 3600) {
            time[2] = parseInt(second / 3600);
            second %= 3600;
        }
        if (second >= 60) {
            time[3] = parseInt(second / 60);
            second %= 60;
        }
        if (second > 0) {
            time[4] = second;
        }
        return time;
    }
    function setTime() {
        /*此处为网站的创建时间*/
        var create_time = Math.round(new Date(Date.UTC(2021, 04, 20, 10, 15, 15)).getTime() / 1000);
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - create_time));
        currentTimeHtml = currentTime[0] + '年' + currentTime[1] + '天'
            + currentTime[2] + '时' + currentTime[3] + '分' + currentTime[4]
            + '秒';
        document.getElementById("htmer_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);


  </script>
</body>
</html>